
# 
# Aplication x Workspaces
#

assign [title="(?i)firefox"] $ws3
assign [class="(?i)code"] $ws2
assign [class="(?i)rider"] $ws2
assign [title="(?i)Microsoft Teams.*"] $ws4

for_window [class="(?i)spotify"] move to workspace $ws9

for_window [title="Calc"] floating enabled
for_window [title="Calc"] resize set width 500px

for_window [title="Calendar"] floating enabled 
for_window [title="gsimplecal"] border pixel

for_window [app_id="^chrome-.*-.*$"] shortcuts_inhibitor disable
for_window [app_id="chromium"] shortcuts_inhibitor disable
