label {
  /* font-weight: bold; */
}

/* #calendarEvents { */
/*   text-align: left; */
/* } */
#calendarEvents {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#calendarEvents .header {
  font-weight: bold;
}

#calendarEvents .event-line {
  margin: 4px 8px 5px 8px;
}

#calendarEvents label {
  font-size: 1.1em;
}

.calender-events-container .event-day {
  margin: 8px;
  padding: 8px;
  border-radius: 15px;
  background-color: #141414;
}


.emblem {
  padding-top: 10px;
}

.ok {
  color: green;
}

.nok {
  color: gold;
  font-size: 10px;
}

.notification {
  color: rgba(247, 247, 247, 1);
}

.notification .emblem {
  font-size: 11px;
  color: rgba(247, 247, 247, 0.5);
}

.bar button {
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 0;
}

.bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #efefef;
}

.right button {
  padding: 4px;
}

.workspaces button {
  color: #eee;
}

.workspaces button:active,
.media:active {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.workspaces button.focused {
  border-bottom: 3px solid aqua;
}

.workspaces button.urgent {
  border-bottom: 3px solid red;
}

.client-title {
  margin-left: 1em;
  color: aqua;
}

.battery progressbar {
  margin: 0 6px;
}

.clock {
  margin: 0 6px;
  font-size: 1.1em;
}

progress,
highlight {
  background-color: aqua;
  min-height: 8px;
}

/* CSS Notification */

/* Assuming Adwaita-dark as Gtk theme */

#popup-window {
  background-color: transparent;
}

#notification-center {
  background-color: #232323;
}

#popup-window .notification > * {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

#popup-window *,
#notification-center * {
  outline: none;
  color: white;
}

.notification-feat button {
  border: none;
  box-shadow: none;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.1);
}

.notification-feat button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.notification-feat button:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.notification-feat .notification > * {
  margin: 8px;
  padding: 8px;
  border-radius: 15px;
  background-color: #141414;
}

.notification-feat .notification .icon {
  border-radius: 7px;
  margin-right: 8px;
}

.notification-feat .notification .close-button {
  padding: 0;
  margin: 0;
  min-height: 1.4em;
  min-width: 1.4em;
  border-radius: 1em;
}

.notification-feat .notification .title {
  font-size: 1.1em;
  margin-top: 10px;
  color: white;
}

.notification-feat .notification .description {
  color: rgba(255, 255, 255, 0.7);
}

.notification-feat .list {
  margin: 8px;
  min-width: 380px;
}

.notification-feat .action-button {
  margin: 0 4px;
}

.notification-feat .action-button:first-child {
  margin-left: 0;
}

.notification-feat .action-button:last-child {
  margin-right: 0;
}

.notification-feat .action-button:last-child:first-child {
  margin: 0;
}

.notification-feat .header {
  padding: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* DND Button Label */
.notification-feat .header label { 
  margin: 12px;
}

.notification-feat .placeholder image {
  font-size: 1em;
}

.notification-feat .placeholder label {
  font-size: 1.4em;
}


.notification-feat .icon.img {
  margin: 10px 10px 0 10px;
}

.notification-feat .title {
  font-weight: bold;
}

.notification-feat .description {
  margin: 5px 0 10px 0;
}
