/*
 * Miami Vice Color Palette
 * https://www.color-hex.com/color-palette/80537
 */

* {
  font-size: 13px;
  color: #d0d0d0;
  text-shadow: 1px 1px #0C0E15;
}

.text-button {
  padding: 0 6px;
  border-radius: 0;
}

.modules-right label {
  color: #d0d0d0;
  text-shadow: 1px 1px #0C0E15;
  padding: 1px 8px;
}

button:hover {
  background-color: transparent;
}


box.horizontal:dir(ltr) > box.horizontal:dir(ltr) {
  margin: 3px;
  padding: 3px 3px 1px 5px; 
}


@keyframes blink-critical {
    to {
        color: #d0d0d0;
        background-color: #ff4df0;
    }
}

@keyframes blink-notification-mode {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}


#cpu.critical {
  animation-name: blink-critical;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

#memory.critical {
  animation-name: blink-critical;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}


window#waybar {
  background: rgba(9, 14, 17, 0.5);
}

#battery.critical.discharging {
  animation-name: blink-critical;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

#mode {
  animation: blink-notification-mode 5s ease infinite;
  background: rgb(255,77,240);
  background: linear-gradient(90deg, rgba(255,77,240,1) 0%, rgba(112,255,223,1) 100%); 
  background-size: 300% 300%;
  border-radius: 10px;
  color: rgba(9, 14, 17, 0.5);
  padding-left: 10px;
  margin-left: 5px;
}

#pulseaudio {
  margin-right: 4px;
  padding-right: 0px;
}


#workspaces:first-child  {
  padding-left: 0;
  margin-left: 0;
}

#workspaces:last-child {
  padding-right: 0;
  margin-right: 0;
}

#workspaces .text-button {
  border-radius: 0;
  border-bottom-width: 2px;
}

#workspaces .text-button > label {
  color: #d0d0d0;
  margin: 0;
  text-shadow: 1px 1px #0C0E15;
  border-radius: 0;
  border-bottom-width: 2px;
  padding: 0 1px;
}

#workspaces:hover {
  background-color: #ff4df0;
  box-shadow: inherit;
  text-shadow: inherit;
}

#workspaces .text-button.focused {
  border-bottom-color: #ff4df0;
  border-bottom-width: 2px;
  border-radius: 0;
}

#workspaces .text-button.focused > label {
  color: #70ffdf;
}

#workspaces button.urgent {
  animation-direction: alternate;
  animation-duration: 3s;
  animation-iteration-count: 8;
  animation-name: blink-critical;
  color: #ff4df0;
}

#custom-headset.critical {
  animation-name: blink-critical;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

#custom-headset.warning {
  animation-name: blink-notification-mode;
  animation-direction: alternate;
  animation-duration: 5s;
}

#custom-headset.charging {
  animation-name: charging;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}

tooltip label {
  font-size: 16px;
}
