[Unit]
Description=Davmail service as a server

[Service]
ExecStart=/usr/bin/davmail /home/rodrigosilva/.davmail.properties
Restart=always

[Install]
WantedBy=default.target
